@{
    var images = ViewData["Images"] as string[];
}
<div class="page-header">
    <div class="btn-toolbar pull-right">
        <div class="btn-group">
            <a class="btn btn-primary" asp-area="" asp-controller="Upload" asp-action="Index">Upload</a>
        </div>
    </div>
    <h2>@ViewData["Title"]</h2>
</div>

<div class="container">
    <div class="row">
    @foreach (var item in images)
    {
        <div class="col-md-4">
            <img src='@item' width=350/>
        </div>
    }
    </div>
</div>
