@{
    ViewData["Title"] = "Home Page";
    var images = ViewData["Images"] as string[];
}

<div class="row">
    <div class="col-md-4">
        <h1>CatDog-Core</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-1 col-md-offset-11">
        <a class="btn btn-primary" asp-area="" asp-controller="Upload" asp-action="Index">Upload</a>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <a class="btn btn-link" asp-area="" asp-controller="Home" asp-action="Cats">Cats</a>
        <a class="btn btn-link" asp-area="" asp-controller="Home" asp-action="Dogs">Dogs</a>
        <a class="btn btn-link" asp-area="" asp-controller="Home" asp-action="Other">Other</a>
    </div>
</div>

<div class="row">
    <div class="container">
        <div class="row">
            @foreach (var item in images)
            {
                <div class="col-md-4">
                    <img src='@item' width=350 />
                </div>
            }
        </div>
    </div>
</div>