@{
    ViewData["Title"] = "Upload";
}

<div class="page-header">
    <h2>CatDog-Core - @ViewData["Title"]</h2>
    <div class="row">
        <div class="col-md-4">
            <a class="btn btn-link" asp-area="" asp-controller="Home" asp-action="Index">Uploads</a>
            <a class="btn btn-link" asp-area="" asp-controller="Home" asp-action="Cats">Cats</a>
            <a class="btn btn-link" asp-area="" asp-controller="Home" asp-action="Dogs">Dogs</a>
            <a class="btn btn-link" asp-area="" asp-controller="Home" asp-action="Other">Other</a>
        </div>
    </div>
</div>

<div class="container">
    <form method="post" enctype="multipart/form-data" asp-controller="Upload" asp-action="Index">
        <div class="form-group">
            <label for="files">Lade hier deine Bilder hoch!</label>
            <input class="form-control" type="file" name="files" multiple />
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input class="btn btn-primary" type="submit" value="Upload" />
            </div>
        </div>
    </form>
</div>